{%extends "templates/general.njk"%} 
{%block title%}
          <h1>Cozinha</h1>
{%endblock%} 

{%block wrapper%}
      <div id="wrapper">
        <h1>Itens de cozinha</h1>
      </div>
{%endblock%}

{%block content%} 
      <section class="cozinha_cards cards"></section>
{%endblock%}
