  {%extends "templates/general.njk"%} 
{%block title%}
          <h1>Estudo</h1>
{%endblock%} 

{%block wrapper%}
      <div id="wrapper">
        <h1>Itens de estudo</h1>
      </div>
{%endblock%}
{%block content%} 
      <section class="study_cards cards"></section>
{%endblock%}
