{%extends "templates/general.njk"%} 
{%block title%}
          <h1>Sala de estar</h1>
{%endblock%}

{%block wrapper%}
      <div id="wrapper">
        <h1>Itens de sala</h1>
      </div>
{%endblock%}

{%block content%}
      <section class="living_cards cards"></section>
{%endblock%}
