          <a href="http://wa.me/5562933003063" class="wa"><span class="wa-text">Continuar no whatsapp </span><i class="fa fa-whatsapp"></i></a>
          <br>
          <p>
            Existem opções de pagamento parcelado com maquininha (Visa/Elo) ou com link infinitepay (whatsapp). Juros entre 3% a 16% a depender do número de parcelas/bandeira.
          </p>
          <div class="ML-line">
            <span>No MercadoShops, o valor aumentará 10%</span>
            <a href="https://ferroao.mercadoshops.com.br/nossos-produtos" target="new" class="button-72 small-button">Items com parcel. no MShops</a>
          </div>