          <p>
            Contato: w.a. 62 93300 3063
          <br>
            Se deseja parcelar sem juros, o valor aumentará 10% (MShops),
          </p>
          <div class="ML-line">
            <span>o ML cobra ainda mais (16%)</span>
            <a href="https://ferroao.mercadoshops.com.br/lista/casa-moveis-decoracao/" target="new" class="button-72 small-button">Items com parcel. no MShops <br>(melhor que ML)</a>
          </div>