<!DOCTYPE html>
<html lang="pt">
  <div class="inner-body">
{%include './head.njk'%}
    <body>
{%include './header.njk'%}

      <div class="banner">
        <div id="banner_text">
{%block title%}
{%endblock%}

{% include './banner_text.njk' %}
        </div>
      </div>

{%block wrapper%}
{%endblock%}
{%block content%}
{%endblock%}

{%include './footer.njk'%}
    </body>
  </div>
  {%include './modal.njk' %}
  <script src="public/scripts.js"></script>

</html>
