      <header>
        <div class="links">
          <a href="index.html">Sala</a>
          <a href="estudo.html">Estudo</a>
          <a href="cozinha.html">Cozinha</a>
          <a href="outros.html">Outros</a>
          <a href="quarto.html">Quarto</a>
          <a href="tudo.html">Tudo</a>
        </div>
      </header>