  <div class="modal-overlay">
    <div class="modal">
      <div class="img_container">
        <img src="" >
      </div>
      <h1></h1>
      <div class="modal-value">
        <span></span>
      </div>
      <a href="" class="close-modal">
        <span>Fechar imagem</span>
      </a>
    </div>
  </div>